body{
  display: block;
  background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(65,3,3,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(65,3,3,1) 100%);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(65,3,3,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#410303",GradientType=1);
}
.mobile{
  max-width: 640px;
}
